<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bitcoin Ticker</title>
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/styles.css">
    </head>

    <body>
        <header></header>

        <h1 id="conversion">The current price of <%= amount %><%= crypto %> is <%= price %><%= fiat %></h1>
        <p>Date: <%= currentDate %></p>
        <a href="/">New Conversion</a>
        <footer></footer>
    </body>

</html>